*.pdf
*._*
*.csv
*.Rdata
*.rdata
README.html
*.Rproj
*.Rproj.user
*.Rhistory

data/france-geojson/
data/DVF/dvf_2016_to_2021.sqlite
data/DVF_source/*

!data/tab_reg_dep_com.Rdata
!data/DVF/summary_par_departement/
!data/DVF/summary_par_departement/data_sum_dep_all.Rdata
!data/DVF/summary_par_departement/data_sum_dep_annee_all.Rdata
!*/dvf_sum_dep_annee.Rdata
.Rproj.user
